[Unit]
Description="Service that handles movement and logging of the telepresence robot"
After=network.target

[Service]
User=defuser
Environment="HOME=/home/defuser"
WorkingDirectory=/home/defuser/BUT_Telepresence/robot_controller
ExecStart=/home/defuser/BUT_Telepresence/robot_controller/start.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
