[Unit]
Description="REST API for the stereo camera stream"
After=network.target

[Service]
WorkingDirectory=/home/defuser/BUT_Telepresence/server
ExecStart=venv/bin/python3 -m swagger_server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
