[Unit]
Description="Service that handles movement and logging of the telepresence robot"
After=network.target

[Service]
WorkingDirectory=/home/defuser/BUT_Telepresence/robot_controller
ExecStart=./start.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
